{
  "presets": [
    ["latest", {
      "es2015": { "modules": false }
    }]
  ],
  "plugins": [
    "transform-runtime",
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
