{
  "presets": [
    ["env", {
      "targets": {
        "node": 4
      },
      "modules": false
    }]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
